{% extends "layout.html" %}

{% block body %}
<h3>Your portfolio:</h3><br>
    {{ portfolio_name }}
    
    <ul>
        {%for ticker in symbols%}
            <li>{{ticker}}</li>
        {% endfor %}
    </ul>

    <h3>Your investment timeframe is {{ timeframe }} years</h3>

    {% if run_analyses == True %}
        <!-- display images -->
        I ran the analyses<br>
        Portfolio's Sharpe ratio is {{ results_of_simulation[0] }}<br>
        Index's Sharpe ratio is {{ results_of_simulation[1] }}<br>
        Portfolio's Beta is {{ results_of_simulation[2] }}<br>
        Portfolio's weights are {{ results_of_simulation[3] }}<br>


    {% endif %} 




{% endblock %}