{% extends "layout.html" %}

{% block body %}
    <h1>Initial Menu</h1>
    <form action ="/portfolio_planner" method = "post">
        <!-- <input name="name" placeholder="name"1 type = "text"> -->
        <select name="main_menu">
            <option value = "menu0" >{{ menu0 }}</option>
            <option value = "menu1" >{{ menu1 }}</option>
            <option value = "menu2" >{{ menu2 }}</option>
            <option value = "menu3" >{{ menu3 }}</option>
        </select>
        <input type="submit" value = "Submit"><br>
    </form>
{% endblock %}
